// Ce fichier est intentionnellement laissé vide.
// L'upload de fichiers se fait via Data URL et est stocké dans Firestore.
// La sécurité est donc gérée par firestore.rules.
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Aucune règle n'est nécessaire ici pour le moment.
  }
}
